<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4" >
                    <img src="~/images/adidas.png" style="height:235;width:330" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/columbia.png" style="height:235;width:330" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/hummel.jpg" style="height:235;width:330" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/koctas.jpg" style="height:235;width:330" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/ikea.png" style="height:235;width:330" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/lacoste.jpg" style="height:235;width:330" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/nike.png" style="height:235;width:330" alt="">
                </div>
                
            </div>
        </div>
    </div>
</div>